= render partial: 'shared/step_counter'

=t('assessments.new.about_html')

.accord_cont
  - @areas.each do |a|
    .card.accordion{ class: a.name.parameterize.underscore }
      .accord_btn.card_title
        = a.name
        %span.accord_arrow=fa_icon "chevron-down"
      .accord_content.card_description
        - a.skills.each do |s|
          .skill
            &ndash;
            = s.name

.actions
  = link_to "back", :assessments, :class => "button full-button"
  = button_to t('buttons.next'), assessments_path, method: :post, class: "button full-button right_float"
