=render partial: "shared/step_counter", locals: {number: 3};

%p Let’s try and build up a picture of your skills so we can understand what strengths you bring to a team, and what your areas for development are.

%p
  Look through each of the cards below and
  %span.bold
    select the
    = Assessment::STRONG_SKILLS_COUNT
    which you think your colleagues would use to describe your strongest skills.

= form_for @assessment do |f|
  #cards_sort_1.card_sorting

    - @areas.each do |area|
      - area.skills.each_with_index do |skill, i|
        .card_sort_single{ id: "lc_#{i + 1}"}
          %label
            .card_title{ class: area.name.parameterize.underscore }
              = skill.name
            .card_description
              = skill.description
            = f.check_box :strong_skills, { multiple: true }, skill.id, nil

  =render partial: 'shared/card_sort_footer', locals: {next_link: :assess_step4, back_link: :assess_step2, f: f};
