.text_block
  %h1= t('assessments.index.team_results.title')
  =t('assessments.index.team_results.about_html')
  = link_to t('assessments.index.team_results.team_guide'), "/downloads/team_follow_up.pdf", class: 'button', target: '_blank'
  %br
  %br
  %p
    With this quide you may also need these resources:
    %br
    = link_to "Project Journey Map", "/downloads/project_journey_map.pdf", target: '_blank'
    &
    = link_to "Competency Framework", "/downloads/competency_framework.pdf", target: '_blank'


.text_block
  %h2= t('assessments.index.team_results.skills_by_area')
  = pie_chart @team.skills_by_area

- @assessments.each do |assessment|
  .assessment.single_team_user.card.accordion.parent_accord
    .accord_btn.title
      = assessment.user.name || assessment.user.email
      %span.accord_arrow=fa_icon "chevron-down"
    .accord_content
      = render partial: 'results', locals: { assessment: assessment }

- if @users_without_assessments.count > 0
  - @users_without_assessments.each do |u|
    .assessment.single_team_user.card.accordion.parent_accord
      .accord_btn.title
        = u.name || u.email
        %span.accord_arrow=fa_icon "chevron-down"
      .accord_content
        %p Has not completed their assesment yet.

.finish
  =link_to 'Finish', home_finish_path, class: 'button'
