%h3= t('assessments.index.team_results.title')
=t('assessments.index.team_results.about_html')


- @assessments.each do |assessment|

  .assessment

    %h4= assessment.user.name || assessment.user.email

    = render partial: 'results', locals: { assessment: assessment }

%h4= t('assessments.index.team_results.skills_by_area')

= pie_chart @team.skills_by_area, library: { chart: { backgroundColor: "transparent" } }
