%h3= t('teams.new.title')

= t('teams.new.about_html')

%h4= t('teams.new.subtitle')


= form_for(@team) do |f|
  
  = f.fields_for :users do |user_fields|
    .hidden
      = render 'user_fields', f: user_fields
  .links
    = link_to_add_association t('teams.new.add_team_member'), f, :users
  
  = f.submit t('buttons.submit')
